
.about-me {
  text-align: center;
  background-image:url("https://image.shutterstock.com/image-photo/floral-spring-natural-landscape-wild-260nw-1274207287.jpg")
}

.skills-column {
  margin-left: 100px;
}
